@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.overall{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(238, 215, 184);
    flex-direction: column;
}
.header>.headpos{
    background-color: brown;
}
.container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
    flex-wrap: wrap;
}
.heading1{
    width: 100%;
}
.heading1 h3{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 27px;
    margin-top: 30px;
    font-weight: 500;
}
.f1{
    width:30%;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:30px 0px;
    border: 1px solid  rgb(238, 215, 184);
}
















.f1:hover{
    box-shadow: 1px 1px 10px 1px lightgrey;
    transition: 900ms;
}
.width1{
    width: 100%;
}
.images{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
#im{
    transform: scale(0.6);
}
.images:hover{
    opacity: 0.9;
}

.first{
    width: 100%;
}

.second{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#demo{
    font-size: 17px;
    color: black;
}
.c2{
    font-size: 14px;
    color: rgb(58, 57, 46);
    margin: 15px auto 25px;
    letter-spacing: 0.5px;
}
.c3{
    display: flex;
    justify-content: space-evenly;
}
.c2:hover{
    text-decoration: underline green;
}
.c21{
    margin: 0px auto 25px;
}
#src{
    transform: scale(0.6);
}
.click-me{
    padding: 10px 25px;
    background: aliceblue;
    border: none;
    color: #686c71;
    font-size: 13px;
    font-family:sans-serif;
    cursor: pointer;
    border-radius: 5px;
}
.click-me:hover{
    /* box-shadow: 1px 1px 10px 1px rgb(205 223 241); */
    box-shadow: 0px 1px 4px 3px #bdcdcd;
    color: rgb(48, 43, 43);
    transition: 1.5s
}
.htmlcss{
    padding: 9px 25px;
    border: 1px solid aliceblue;
    font-size: 10px;
    color: darkgray;
}
.click-me:hover{
    transform: scale(1.001);
}
.htmlcss:hover{
    background: none;
    border: 1px solid blue;
    color: cadetblue;
    transition: 3s;
    font-weight: 600;
}
.layouts{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px){
    .f1 {
        width: 100%;
        height: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 25px 0px;
    }
}

