*{
    margin: 0;
    padding: 0;
}
.overall{
    font-family: 'Roboto', sans-serif;
    height: 657px;
    border: 1px solid white;
    overflow: hidden;
    /* background: rgb(40, 34, 63); */
    background-color: whitesmoke;
}
.layout {
    width: 350px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    border:1px solid rgb(40, 34, 63);
    background: rgb(35, 30, 57);
    border-radius: 30px;
}

img{
    object-fit: contain;
    background: rgb(35, 30, 57);
    
}
.rotate{
    width: 130px;
    height: 70px;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.name:hover{
    transform: scaleX(1.1), scaleY(1.1);
}
.name{
    /* color: violet; */
    color:rgba(255,38,217,0.5);
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 30px;
    
}
.github-img {
    margin-top: 70px;
    margin-bottom: 20px;
}
.profile {
    margin-bottom: 20px;
}
.pro{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: 1px solid whitesmoke;
}

.btn{   
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}
.myaccount {
    margin-top: 30px;
    margin-bottom: 10px;
    color: honeydew;
}

.ac p {
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 22px;
}

.ac p a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10px;
    
}
.ac p a:hover{
    color: palegreen;
    border-bottom: 1px solid green;
}
.button {
    font-size: 15px;
    font-weight: bold;
    color: rgb(43, 27, 27);
    padding: 10px 30px;
    text-decoration: none;
    border-width: 1px solid white;
    border-radius: 20px;
    background-color:rgb(229, 182, 190);
    margin-left: 110px;
}
.button:hover{
    background:  rgb(150, 139, 121);
    color: black;
}

@media only screen and (max-width: 480px){
   
    .rotate{
        width: 120px;
        height: 50px;
        /* margin-right: 70px; */
    }
    .name{
        font-size: 24px;
    }
    .pro{
        width: 80px;
        height: 80px;
    }
    .ac p {
        letter-spacing:0px;
        font-size: 12px;
    }
    .button{
        font-size: 13px;
        padding: 8px 20px;
        margin-left: 94px;
    }
    .btn{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 400px){
    .overall{
        margin-left: -400px;
        margin-top: -10px;
        
    }
    .layout{
        width: 250px;
        height: 350px;
        
    }
    .github-img .rotate{
        margin-top: -30px;
        width: 90px;
        height: 35px;
    }
    .name{
        margin-top: 20px;
        font-size: 20px;
    }
    .pro{
        width: 60px;
        height: 60px;
    }
    .ac p {
        letter-spacing:0px;
        font-size: 10px;
    }
    .button{
            font-size: 12px;
            padding: 6px 15px;
            margin-left: 80px;
    }
    .btn{
        margin-top: 20px;
    }

}