<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Layout</title>
</head>

<body>
    <div class="container">

        <div class="header flx al-cen jus-sp">
            <div class="menuList">
                <ul class="list-style flx mar-pad0">
                    <li><a class="txt-dec" href="">Requests</a></li>
                    <li><a class="txt-dec" href="">Employees</a></li>
                    <li><a class="txt-dec" href="">Activities</a></li>
                    <li><a class="txt-dec" href="">Social</a></li>
                    <li><a class="txt-dec" href="">KB</a></li>
                    <li><a class="txt-dec" href="">Chat</a></li>
                    <li><a class="txt-dec" href="">Community</a></li>
                    <li><a class="txt-dec" href="">IM</a></li>
                    <li><a class="txt-dec" href="">Analytics</a></li>
                    <li><a class="txt-dec" href="">BroadCast Email Template</a></li>
                    <li><a class="txt-dec" href="">Google Calendar</a></li>
                    <li><a class="txt-dec" href="">DC Widget</a></li>
                    <li><a class="txt-dec" href=""><img src="images/Hum-menu.png" alt=""></a></li>
                </ul>
            </div>
            <div class="department">
                <div class="dummyDep">
                    <a class="txt-dec white">Dummy Department</a>
                    <span><img src="images/darkblue-downarrow.png" alt=""></span>
                </div>
            </div>
            <div class="menuIcons">
                <ul class="list-style flx al-cen mar-pad0 iconElements">
                    <li>
                        <span>
                            <a href=""><img class="plusIcons" src="images/plus-icon.png" alt=""></a>
                            <a href=""><img class="plusIcons" src="images/blue-up-arrow.png" alt=""></a>
                        </span>
                    </li>
                    <li><a class="txt-dec" href=""><img src="images/search-blue.png" alt=""></a></li>
                    <li><a class="txt-dec" href=""><img src="images/notes-icon.png" alt=""></a></li>
                    <li><a class="txt-dec" href=""><img src="images/game-icon.png" alt=""></a></li>
                    <li><a class="txt-dec" href=""><img src="images/setting-img.png" alt=""></a></li>
                    <li><a class="txt-dec" href=""><img src="images/profile.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="mainContent">

            <div class="sub-Content1 flx jus-sp flx-dir">

                <div class="topContents">
                    <ul class="menuBar flx flx-dir list-style mar-pad0">

                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/Head-quarts.png" alt="">
                                <span>Headquarters</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>

                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/team-finds.png" alt="">
                                <span>Team Feeds</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>

                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/folders.png" alt="">
                                <span>Views</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">search</span>
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>

                        <li class="flx jus-sp al-cen">
                            <a href="" class="flx al-cen white">
                                <span class="f-size14">STARTED VIEWS</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined">expand_more</span>
                            </a>
                        </li>

                        <li class="flx jus-sp allReq">
                            <p class="mar-pad0">All Requests</p>
                            <p class="mar-pad0">180k+</p>
                        </li>

                        <li class="flx jus-sp al-cen white allViews">
                            <p class="">ALL VIEWS</p>
                            <img src="images/right-arrow.png" class="plusIcons" alt="">
                        </li>
                    </ul>
                </div>

                <div class="bottomContents">

                    <ul class="menuBar flx flx-dir list-style mar-pad0">

                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/agent-queue.png" alt="">
                                <span>Agent Queue</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>


                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/team-queue.png" alt="">
                                <span>Team Queue</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>


                        <li class="flx jus-sp al-cen listHover">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/tag-img.png" alt="">
                                <span>Tags</span>
                            </a>

                            <a href="" class="flx al-cen txt-dec white">
                                <span class="material-symbols-outlined plusIcons hideIcon pad10">add</span>
                            </a>
                        </li>

                        <li class="flx jus-end al-cen listHover disable">
                            <a href="" class="flx al-cen txt-dec white">
                                <img class="plusIcons pad10" src="images/arrow.png" alt="">
                            </a>
                        </li>

                    </ul>
                </div>

            </div>


            <div class="sub-Content2">

                <div class="sub-top-Container flx jus-sp">
                    <div class="sub-leftEle flx al-cen">
                        <ul class="flx al-cen list-style mar-pad0">
                            <li><a href=""><img class="plusIcons pad10" src="images/star-icon.png"></a></li>
                            <li><a class="txt-dec" href=""><span class="flx al-cen black">All Requests(180k+)<img
                                            class="plusIcons" src="images/white-up-arrow.png"></span></a></li>
                            <li><a href=""><img class="plusIcons pad10" src="images/panal.png" alt=""></a></li>
                            <li><a href=""><img class="plusIcons pad10" src="images/reload-icon.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="sub-rightEle flx al-cen">
                        <ul class="flx al-cen list-style mar-pad0 gap10">
                            <li><a class="plusIcons pad10 txt-dec skyblue" href="">Total Count</a></li>
                            <li>
                                <a href="" class="flx al-cen txt-dec anchorStyle">
                                    <img class="plusIcons " src="images/list-icon.png" alt="">
                                    <span class="black span">Classic View</span>
                                    <img class="plusIcons " src="images/white-up-arrow.png" alt="">
                                </a>
                            </li>

                            <li>
                                <a href="" class=" flx al-cen txt-dec anchorStyle">
                                    <span class="material-symbols-outlined plusIcons black ">more_horiz</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sub-bottom-Container">

                    <div class="listContents flx jus-sp">
                        <div class="ub1Cont flx al-cen">
                            <ul class="flx al-cen list-style mar-pad0">
                                <li><img class="mailIcon pad25" src="images/mail-box.png" alt=""></li>
                                <li class="flx flx-dir gap5">
                                    <p class="mar0 f-weight f-size18">UB1 - Support - Patch Configuration completed(2809371)</p>
                                    <p class="flx mar0 f-size14 al-cen">
                                        <a href="" class="txt-dec black">#792571</a>
                                        <span class="dot">zac-noreply</span>
                                        <a href="" class="flx txt-dec al-cen">
                                            <img src="images/timer-img.png">
                                            <span class="black">11:29 AM</span>
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="ubt2Cont flx">
                            <ul class="flx al-cen list-style mar-pad0 gap30">
                                <li><a href="" class="txt-dec flx f-size14 black openEle ">
                                    <img class="img-small" src="images/open-img.png" alt="">
                                    <span>Open</span>
                                    </a>
                                </li>
                                <li><a href=""><img src="images/code-arrow.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="images/message.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="images/contact-img.png" class="profileIcon" alt=""></a></li>
                            </ul>
                        </div>
                    </div>


                  




                    <div class="listContents flx jus-sp">
                        <div class="ub1Cont flx al-cen">
                            <ul class="flx al-cen list-style mar-pad0">
                                <li><img class="mailIcon pad25" src="images/mail-box.png" alt=""></li>
                                <li class="flx flx-dir gap5">
                                    <p class="mar0 f-weight f-size18">UB1 - Support - Patch Configuration completed(2809371)</p>
                                    <p class="flx mar0 f-size14 al-cen">
                                        <a href="" class="txt-dec black">#792571</a>
                                        <span class="dot">zac-noreply</span>
                                        <a href="" class="flx txt-dec al-cen">
                                            <img src="images/timer-img.png">
                                            <span class="black">11:29 AM</span>
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="ubt2Cont flx">
                            <ul class="flx al-cen list-style mar-pad0 gap30">
                                <li><a href="" class="txt-dec flx f-size14 black openEle ">
                                    <img class="img-small" src="images/open-img.png" alt="">
                                    <span>Open</span>
                                    </a>
                                </li>
                                <li><a href=""><img src="images/code-arrow.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="images/message.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="images/contact-img.png" class="profileIcon" alt=""></a></li>
                            </ul>
                        </div>

                    </div>



                    <div class="listContents flx jus-sp">
                        <div class="ub1Cont flx al-cen">
                            <ul class="flx al-cen list-style mar-pad0">
                                <li><img class="mailIcon pad25" src="images/mail-box.png" alt=""></li>
                                <li class="flx flx-dir gap5">
                                    <p class="mar0 f-weight f-size18">UB1 - Support - Patch Configuration completed(2809371)</p>
                                    <p class="flx mar0 f-size14 al-cen">
                                        <a href="" class="txt-dec black">#792571</a>
                                        <span class="dot">zac-noreply</span>
                                        <a href="" class="flx txt-dec al-cen">
                                            <img src="images/timer-img.png">
                                            <span class="black">11:29 AM</span>
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="ubt2Cont flx">
                            <ul class="flx al-cen list-style mar-pad0 gap30">
                                <li><a href="" class="txt-dec flx f-size14 black openEle ">
                                    <img class="img-small" src="images/open-img.png" alt="">
                                    <span>Open</span>
                                    </a>
                                </li>
                                <li><a href=""><img src="images/code-arrow.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="imagerepeat(90px)s/message.png" class="plusIcons" alt=""></a></li>
                                <li><a href=""><img src="images/contact-img.png" class="profileIcon" alt=""></a></li>
                            </ul>
                        </div>

                    </div>




                </div>


            </div>

        </div>
    </div>
</body>

</html>