body{
    --header-bg-color: #fff;
    --maindiv-bg-color: #f8f8f8;
    --questiondivhead : #f8f8f8;
    --zaskimage-bg-color: url(ztaskimages/community-banner.ca5ae20401b665478bc3a8c29385662b.png);
    --header-border-colors: #efefef;

    --border-white-change: white;
    --border-for-bottom-page:  #dedede;
    --input-bg-color : #F5F5F5;
    --anchor-tag-color: #ffffff;
    --box-shadow-for-headtag: inset 1px 1px 3px #fff, inset -1px -1px 3px rgb(0 0 0 / 10%), -1px -1px 6px rgb(0 0 0 / 10%), 1px 1px 3px #fff;
    --quality-content-bgcolor:#F5FDFF;
    --rightele-font-color: #4c5154;
    --rightele-font-color:  #171717;
    --left-ele-font-color:#343535;
    --header-hover-bg-color: #f5f5f5;
    --input-bg-button-color: #30AFF9; 
    --border-for-buttons:#e0f3f1;
    --colors-for-buttons:#333;
    --bg-color-askquestion: linear-gradient(#58bffa,#21a5f2);
    --box-shadow-askquestion:  0 4px 4px rgb(47 175 249 / 30%);
    --box-shadow-for-hover:0 1px 16px 2px var( --border-for-bottom-page);
    --background-pos-y: -194px;
    --follow-tag:  #4e5254;
    --number-color: #171717;
}