@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.menu{        
    margin: auto;
    width: 100%;
}
.menubar{
    width: 20px;
    height: 2px;
    background: black;
    margin:  5px;
}
.container{
   width: 100%;
    max-height: 100vh;    
}
.container{
    display: none;
}
.midcon{
    width: auto;    
    border-bottom: 1px solid var(--header-border-colors);
}
.header1{   
    display: flex; 
    align-items: center; 
    padding: 7px 0px 7px 0px;
    height: 50px;
    border-bottom: 1px solid var(--header-border-colors);
    max-width: 1280px;
    margin: auto;
    background: var(--header-bg-color);
}
.headposition{
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 3;
}
.menu{
    display: none;    
}
.first-head-div1 {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
.first-head-div2{
    display: flex;
    flex-grow: 1;
    text-align: center;
}
.first-head-div3{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
.right-div3-1{
    display: flex;
    margin: auto;
}
.part1{
    display: flex;
    align-items: center;
}
.part1 > .bulb{  
    background-image: url(ztaskimages/second.png);
    background-size: auto 32px;
    position: relative;
    width: 33px;
    cursor: pointer;
    height: 32px;
    margin: 0px 5px 0px 10px;
}
.part1 > .down-arrow{
    background-image: url(ztaskimages/lyte_ui_sprite.6ac550920e8d3792b5be0dc23b6e822c.svg);
    cursor: pointer;
    width: 17px;
    background-size: auto 475px;
    height: 20px;
    margin: 0px 10px 0px 0px ;
    background-position-y: 4px;
    background-position-x: -39px;
}
.part2{
    display: flex;
    margin: 0px 60px 0px 0px;
}
.part2 .bb1{
    padding: 7px 27px;
    border-style: none;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    /* margin-right: 10px; */
}
.part2 .b1{
    background:var(--input-bg-button-color); /* #30AFF9; */
    border-radius: 20px;
    color: #fff;
}
.part2 .b2{
    /* padding: 10px; */
    /* margin-right: 10px; */
    color: var(--rightele-font-color);
    background: none;
    border: 1px solid var(--border-white-change);
}
.first-head-div2 .searchicon{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 368px;
    position: relative;
    width: 31px;
    left: 34px;
    height: 35px;
    background-position-x: 33px;
    background-position-y: 1px;
}
.first-head-div2 input{
    padding-left: 50px;
    border-style: none;
    background-color: #eee;
    border-radius: 30px;
    outline: none;
    font-size: 14px;   
}
.views{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: var(--rightele-font-color);
}
.colornum11{
    width: 10px; 
    height: 10px; 
    background: yellow; 
    border-radius: 10px;
}
.space{
    margin-right: 10px;
}
.colornum12{
    width: 10px; 
    height: 10px; 
    background: rgb(186, 186, 190); 
    border-radius: 10px;
}
.colornum13{
    width: 10px; 
    height: 10px; 
    background: rgb(248, 182, 155); 
    border-radius: 10px;
}
#text {
    width: 100%;
    background: var(--input-bg-color);
}
#text:focus{
    border: 1px solid rgb(223, 220, 220);
}
#text:hover{
    border: 1px solid rgb(223, 220, 220);
}
.profile{
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    border-radius: 30px;
    margin-left: 30px;
    cursor: pointer;
    opacity: 0.3;
}
/* image hover effects */
.imggg {
    display: inline-flex;
    justify-content: center;
    align-items: self-end;
    width: 50px;
    height: 50px;   
    margin-left: 10px;
    position: relative;
    top: 0px;
    opacity: 0.4;
}
.imgclass{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 40px;
}
.hidefrom {
    display: none;
    position: absolute; 
    top: 0;
    padding: 5px 40px 5px 9px;
    left: 0; 
    transition: .3s ease all;
    border: 1px solid;
    border-radius: 40px;
}
.firstelement {
    display: flex;
    justify-content: space-evenly;
}
.click {
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    width: 20px;
    height: 18px;
    background-size: auto 309px;
    background-position-x: -107px;
    background-position-y: -29px;
}
.rightdiv32 {
    display: flex;
}
.viewports {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.col1 {
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 10px;
}
.col2 {
    width: 10px;
    height: 10px;
    background: rgb(186, 186, 190);
    border-radius: 10px;
}
.col3 {
    width: 10px;
    height: 10px;
    background: rgb(248, 182, 155);
    border-radius: 10px;
}
.threimg1{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 372px;
    position: relative;
    width: 26px;
    transform: scale(1.1);
    height: 28px;
    background-position-x: -187px;
    background-position-y: 92px;
}
.threimg2{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 348px;
    position: relative;
    width: 27px;
    transform: scale(1.1);
    height: 28px;
    background-position-x: -59px;
    background-position-y: 754px;
}
.threimg3{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 338px;
    position: relative;
    width: 27px;
    transform: scale(1.1);
    height: 28px;
    background-position-x: 423px;
    background-position-y: 619px;
    border-right: 1px solid var(--header-border-colors);
}
/* .imagewidth{
    padding: 0px 8px;
} */
.right-div3-2{
    display: flex; 
    align-items: center; 
    font-size: 12px;
    height: 50px;
    width: 200px;
    justify-content: space-evenly;
}
.views{
    display: flex; 
    align-items: center;
}
.colornum11{
    width: 10px; 
    height: 10px; 
    background: yellow; 
    border-radius: 10px;
}
.colornum22{
    width: 10px;
    height: 10px; 
    background: rgb(186, 186, 190); 
    border-radius: 10px;
}
.colornum33{
    width: 10px; 
    height: 10px; 
    background: rgb(248, 182, 155); 
    border-radius: 10px;
}
.right-div3-3{
    display: flex;
    width: 120px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.right-div3-3>p{   
    border-left:1px solid var(--header-border-colors);
}
.header2{
    background-image: var(--zaskimage-bg-color);
    background-color: var(--zaskimage-bg-color) ;
    background-size: auto 120px;
    border-bottom: 1px solid var(--header-border-colors);
    height: 65px;
    display: flex;
    align-items: center;
    margin: 50px auto 0px auto;
    max-width: 1280px;
    background-position-x: -96px;
    background-position-y: -50px;
}
.zask{
    color: #30AFF9;
    font-size: 24px;
    font-weight: 600;
    padding: 18px 15px 15px 8px;
}
.posfixeddiv{
    position: sticky;
    top: 50px;
    /* height: 60px; */
    /* padding: 10px; */
    background: #F8F8F8;
    z-index: 2;
}
.maindiv{
    max-width: 1280px;
    display: flex;
    background: var(--maindiv-bg-color);
    flex-direction: row;
    margin: auto;   
}
.leftmain{
    width: 65%;
}
.rightmain{
    width: 35%;    
    padding-left: 68px;
    padding-top: 14px;
}
.questiondivhead{
    display: flex;
    align-items: center;
    padding: 20px -20px;
    margin: 17px 0px 0px 0px;
    height: 96px;
    justify-content: space-between;
    background-color: var(--questiondivhead);
}
.first{
    display: inline-flex;
    align-items: center;
}
.filter{
    display: flex;
    border: 1px solid  var(--border-for-buttons);
    align-items: flex-start;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    box-shadow: var(--box-shadow-for-headtag);
    color:  var(--colors-for-buttons);
}
.filimage{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    width: 24px;
    transform: scale(1.3);
    height: 24px;
    background-position-x: 120px;
    background-position-y: -24px;
}
.second{
    border: 1px solid var(--border-for-buttons);
    display: flex;   
    align-items: center;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 1px;
    cursor: pointer;
    height: 35px;
    position: relative;
    box-shadow: var(--box-shadow-for-headtag);
    /* box-shadow: inset 1px 1px 3px #fff, inset -1px -1px 3px rgb(0 0 0 / 10%), -1px -1px 6px rgb(0 0 0 / 10%), 1px 1px 3px #fff; */
}
#dropcontents{
    display: none;
    position: absolute;
    top: 34px;
    left: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.align{
    padding: 5px 0px 5px 13px; 
    color: #555;   
}
.align:hover{
    background: #f7f7f7 ;
}
.newarrow2{
    font-size: 18px;
    color: var(--colors-for-buttons);
}
.newarrow1{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    width: 21px;
    height: 21px;
    background-position-x: 21px;
    background-position-y: var(--background-pos-y);
    margin-right: 10px;
}
.downarr{
    background-image: url(ztaskimages/lyte_ui_sprite.6ac550920e8d3792b5be0dc23b6e822c.svg);
    width: 17px;
    background-size: auto 468px;
    height: 20px;
    background-position-y: 5px;
    background-position-x: -38px;
    margin-left: 40px;
}
.quesbox{
    display: flex;
    flex-direction: column;
}
.ques{    
    font-size: 22px;
    padding: 8px 16px 8px 8px;
    color: #2faff9;
    font-weight: 700;
}
.bo{
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 0 1px 16px 2px var( --border-for-bottom-page);
    margin: 10px 10px 10px 10px;
    border: 1px solid #dedede;
    
}


.leftele{
    display: flex;
    flex-direction: column; 
    width: auto;
    height: auto; 
    color: var(--left-ele-font-color);
    background: #f8f8f8;
    /* background: var(--header-bg-color); */
    border-right: 1px solid var(--header-border-colors);
}
.leftele > div{
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keybox{
    border-bottom: 1px solid var(--header-border-colors); 
    height: 50px;
    width: 85px;
}
.borderbottom{
    border-bottom: 1px solid #7ef67e;
}
.paraelements{
    font-size: 13px;
}
.number{
    font-size: 18px;
    color: var(--number-color);
    font-weight: 700;
}
.stickyimage{
    display: none;
}
.sticky{
    width: 80px;
    height: 80px;
    background: #58bffa;
}


/* iframe properties */

#link1{
    width: 250px;
    height: 230px;
    border: 1px solid var(--header-border-colors);
    border-radius: 10px;
        box-shadow: 0 1px 20px 3px var( --border-for-bottom-page);;
}
#call{
    display: block;
    position: absolute;
    top: 50px;
    left: 10px;
}
#call1{
    display: none;
    /* position: absolute;
    top: 100px;
    left: 00px; */
}
#link2{
    position: absolute;
    top: -60px;
    left: 0px;
    border: none;
}
.rightele{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 15px 8px 15px;
    background:  var(--header-bg-color);
    position: relative;
    color: var(--rightele-font-color);
}
.h3f-style{
    font-size: 20px;
    cursor: pointer;
}
.p1f-style{
    font-size: 14px;
    cursor: pointer;
}

.bottomcon{
    display: flex;
    align-items: flex-end; 
    justify-content: space-between; 
    flex-wrap: wrap;
}
.quality{
    background-color: var(--quality-content-bgcolor);    
    padding: 3px 10px;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid  var(--border-for-buttons);
    cursor: pointer;    
}
.third-bor-none{
    display: none;
}
.mailid{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    /* align-items:center; */
    flex-grow: 1;
    justify-content: end; 
}
.profileid{
    color: var(--follow-tag);
    display: flex;
    justify-content: center;
    align-items: end;
}
.spancolor{
    color:#37B2F9;
    cursor: pointer;
    margin-right: 5px;
}

.fixeddiv{
    display: flex;
    width: 368px;
    height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    /* border: 1px solid black; */
}
.box-task1{
    line-height:10px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.box-task2{
    display: flex;
    font-size:10px;
    padding:0px 40px;
    border: 1px solid var( --border-for-bottom-page);
    background:var(--header-bg-color);
    align-items: center;
    align-items: center;
    justify-content: flex-start;
}
.task1{
    display: flex;
    align-items: center;
}
.boxspan{
    font-weight: 500;
    font-size: 18px;
    color:#4e5254;
    margin-right: 4px;
}
.task2{
    padding: 5px 10px;
    border:1px solid var(--border-for-buttons);
    cursor: pointer;
    font-size: 9px;
    font-weight: 100;
    margin-right: 50px;
    border-radius: 28px;
    color: var(--colors-for-buttons);
}
.task3{
    font-size: 14px;
    padding: 16px;
    /* border: 1px solid #47B7F7; */    
    border-radius: 30px;
    color: white;
    background:var(--input-bg-button-color); /* linear-gradient(#58bffa,#21a5f2); */
    box-shadow:var(--box-shadow-askquestion);
}
.styleptag{
    font-size:12px; 
    margin:4px 12px 0px 0px; 
    color:var(--follow-tag);
}
.boxelestyle{
    margin-right:30px;
    font-weight: 700;    
    font-size: 20px;
    color:var(--follow-tag);
}
.boxparaelestyle{
    color: #2faff9;
    font-size: 14px;
    cursor: pointer;
}

/* boxelements */
.boxelements1{
    height: auto;
    margin-bottom: 10px;
}
.boxelements{
    height: 100px;
}
/* hoverinig effects */

.b2:hover{
    border: 1px solid #30AFF9 !important;
    padding: 7px 27px;
    border-radius: 20px;
    color: #30AFF9;
}
.searchicon:hover{
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 368px;
    position: relative;
    width: 31px;
    left: 34px;
    height: 35px;
    background-position-x: 33px;
    background-position-y: -30px;
}
.right-div3-2:hover{
    background: var(--header-hover-bg-color);
}
.threimg1:hover{
    background-position-y: 123px;
}
.threimg2:hover{
    background-position-x: -88px;
}
.threimg3:hover{
    background-position-y: 591px;
}
.filter:hover{
    /* background: #fefefe; */
    background: var(--header-bg-color)
}

.second:hover{
    background: var(--header-bg-color);    
}
.second:hover{
    box-shadow: var(--box-shadow-for-hover);
}

.bo:hover{
    box-shadow: 0px 1px 16px 2px var( --border-for-bottom-page);;
}
.quality:hover{
    background: #30AFF9;
    color: white;
}
.task2:hover{
    background: #ffffff; 
}
.box-task2:hover{
    box-shadow: 0 1px 16px 2px var( --border-for-bottom-page);;
}
.content3:hover{
    visibility: visible;
}
/* .imggg:hover .hidefrom{
    display: block;
    top: 1px;
    width: 200px;
    background: #e7e7e1;
    left: -153px;
} */
/*  */
.overallcon {
    background-color: #0a97e9;
    height: 3px;
    border-radius: 15px;
    animation: progres 2s linear;
}

.imagediv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 150px 0px;
    animation-name: adjust;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes adjust {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.pictures {
    width: 250px;
    height: 260px;
    background-image: url(ztaskimages/icon.b1b8f25d4071e2c8868de6cff056ecd4.svg);
    background-size: auto 3020px;
    background-position-x: -1770px;
    background-position-y: -1501px;
}

@keyframes progres {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 75%;
    }
    75% {
        width: 85%;
    }
    100% {
        width: 100%;
    }
}
;